* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-main {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
}

.header-main-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  width: 100%;
}

.header-logo img {
  width: 150px;
  height: auto;
}

.header-ul-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  border: none;
  box-shadow: none;
  margin: 0;
}

.header-nav-item {
  margin: 0 15px;
  position: relative;
  padding: 10px 0;
}

.header-nav-item a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.header-nav-item a:hover {
  color: #007bff;
  transform: scale(1.05);
}

.header-language-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.header-language {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;  
  overflow: hidden;
  transition: transform 0.3s ease;
}

.header-language img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-language:hover {
  transform: scale(1.1);
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.menu-icon .bar {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .header-ul-items {
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    padding-bottom: 15px;
    border-top: 1px solid #ddd; /* ОВДЕ ја додадов линијата точно над Home */
  }

  .header-nav-item {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .header-nav-item:last-child {
    border-bottom: none;
  }

  .header-language-wrapper {
    flex-direction: row;
    margin-top: 20px;
  }

  .menu-icon {
    display: flex;
  }

  .header-ul-items.active {
    display: flex;
  }
}

#menu-icon .bar-1-active {
  transform: rotate(45deg) translateY(7px);
}

#menu-icon .bar-2-active {
  opacity: 0;
}

#menu-icon .bar-3-active {
  transform: rotate(-45deg) translateY(-7px);
}
