.main-section {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.933),
      rgba(255, 255, 255, 0.301)
    ),
    url("./Home-Images/outdoor-market-with-tents-people-park_1319036-9778.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.div-content {
  position: relative;
  z-index: 1;
}
.div-content h1 {
  font-size: 3rem;
  margin-left: 0.5em;
  max-width: 700px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}
.div-content {
  color: #222;
}
.div-content p {
  font-size: 1.25rem;
  margin-left: 1.5em;
  max-width: 700px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.cta-button,
.cta-secondary {
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 8px;
}

.cta-button {
  background-color: #007bff;
  color: white;
}

.cta-button:hover {
  background-color: #066fe0;
}

.cta-secondary {
  background-color: white;
  border: 1px solid rgba(36, 36, 36, 0.5);
  color: #222;
}

.cta-secondary:hover {
  background-color: rgba(213, 213, 213, 0.15);
}

.cta-group {
  text-align: left;
  margin-left: 1.5em;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .main-section {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.933),
        rgba(255, 255, 255, 0.301)
      ),
      url("./Home-Images/outdoor-market-with-tents-people-park_1319036-9778.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 15px;
  }

  .div-content h1 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    max-width: 90%;
  }

  .div-content p {
    font-size: 1rem;
    margin: 10px auto;
    text-align: center;
    max-width: 90%;
  }

  .cta-group {
    text-align: center;
    margin: 20px auto 0;
  }
}
